<form   method="post" id="delete-{{consultation.id}}"
        action="{{ path('consultation_delete', {'id': consultation.id}) }}" 
        onsubmit="return confirm('Êtes vous sûrs de vouloir supprimer cette consultation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation.id) }}">
    <button class="btn btn-danger" form="delete-{{consultation.id}}"><i class="fas fa-trash-alt"></i></button>
</form>
