{% extends 'index2/base2.html.twig' %}
{% block title %}{% endblock title %}
{% block body %}
    <div id="calendar-holder2" class="calendar col-12"></div>
{% endblock %}
{% block jsCalendar %}
    appCalendrier();
{% endblock jsCalendar %}