<div id="Adresse" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner has-pretty-child">
        {{ form_start(form) }}  
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>    
