{% extends 'base.html.twig' %}

{% block title %}New Antecedent{% endblock %}

{% block body %}
    <h1>Create new Antecedent</h1>

    {{ include('antecedent/_form.html.twig') }}

    <a href="{{ path('antecedent_index') }}">back to list</a>
{% endblock %}
