{% extends 'index2/base2.html.twig' %}

{% block title %}New Pediatrie{% endblock %}

{% block body %}
    <h1>Create new Pediatrie</h1>

    {{ include('pediatrie/_form.html.twig') }}

    <a href="{{ path('pediatrie_index') }}">back to list</a>
{% endblock %}
